<span><img align="left" src ="https://combilift.com/wp-content/uploads/2021/09/Combilift-Web-Logo_sm.png" width="170" /></span> <br/><br/>
### Data entry tool
#### This tool is for adding tasks to the telematics project until a server is set up

### Login

In [36]:
# connect to api

%run ./DataAccess/CL_Login.ipynb

# connect to database

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Z%Br6}5+cBg9yN<y",
    database="testdatabase"
)

print(mydb)

Connected machines: 169
Login: Success ✔
<mysql.connector.connection.MySQLConnection object at 0x000001F06DB2DF70>

### Organization

In [37]:
%run ./DataAccess/CL_Get_Org.ipynb
%run ./DashboardWidgets/Widget_Org.ipynb

Select(description='Select Organisation', options=(('Meherrin River', '0ba082a0-df39-4021-b2df-be4ea9af6900'),…

### Model

In [38]:
%run ./DataAccess/CL_Get_Models.ipynb
%run ./DashboardWidgets/Widget_Model.ipynb

Select(description='Select Model', options=(('CB', '007d4401-82b6-47ab-8eb0-6552fa489764'), ('C Series', '0b08…

### Machine

In [44]:
%run ./DataAccess/CL_Get_Machine.ipynb
%run ./DashboardWidgets/Widget_Machine.ipynb

SelectMultiple(description='Select Machine', layout=Layout(height='initial'), options=(('C4000ET 72508', '1565…

### Dates

In [45]:
%run ./DashboardWidgets/Widget_TimeFrame.ipynb
%run ./DashboardWidgets/timeseries_dropdown.ipynb

DatePicker(value=None, description='Start Date', step=1)

DatePicker(value=None, description='End Date', step=1)

Dropdown(description='Select time you prefer', options=('Please select', 'last 2 weeks', 'last 4 weeks', 'last…

changed to 4 weeks

In [46]:
%run ./DataProcessing/CL_TimeFrame.ipynb

In [47]:
from datetime import date
from datetime import datetime

# get variables
organisation = selected_org.label
# machine_id = selected_machine.value
analysis_start_time = datetime.combine(DT_start.value, datetime.min.time()).timestamp()
analysis_end_time = datetime.combine(DT_end.value, datetime.min.time()).timestamp()

In [48]:
#  push to database

for machine_id in selected_machine.value:
    try:
        mycursor = mydb.cursor()

        sql = "INSERT INTO telematics_tasks (organisation, machine_id, analysis_start_time, analysis_end_time) VALUES (%s, %s, %s, %s)"
        val = [
          (organisation, machine_id, int(analysis_start_time),int(analysis_end_time)),]

        mycursor.executemany(sql, val)

        mydb.commit()

        print(mycursor.rowcount, "was inserted.")
    except:
        print('error in inserting to database')

1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.

In [51]:
# execute your query
mycursor.execute("SELECT * FROM telematics_tasks")
  
# fetch all the matching rows
result = mycursor.fetchall()

listed_tasks = []

# loop through the rows
for row in result:
#     print(row)
    listed_tasks.append(row)

(1, 'combilift', '147552', 1683414000, 1686092400)
(2, 'combilift', '147552', 1683414000, 1686092400)
(3, 'combilift', '155853', 168341400, 1686092400)
(4, 'Combilift', '156583', 1670371200, 1686178800)
(5, 'Combilift', '156583', 1670371200, 1686178800)
(6, 'Combilift', '147552', 1670371200, 1686178800)
(7, 'Combilift', '147552', 1670371200, 1686178800)
(8, 'Combilift', '147553', 1670371200, 1686178800)
(9, 'Combilift', '155839', 1670371200, 1686178800)
(10, 'Combilift', '155848', 1670371200, 1686178800)
(11, 'Combilift', '155850', 1670371200, 1686178800)
(12, 'Combilift', '155853', 1670371200, 1686178800)
(13, 'Combilift', '155854', 1670371200, 1686178800)
(14, 'Combilift', '156583', 1670371200, 1686178800)
(15, 'Combilift', '226899', 1684969200, 1686178800)
(16, 'Combilift', '226901', 1684969200, 1686178800)
(17, 'Combilift', '226908', 1684969200, 1686178800)
(18, 'Combilift', '153723', 1683759600, 1686178800)
(19, 'Combilift', '162656', 1683759600, 1686178800)
(20, 'Combilift', '186453', 1683759600, 1686178800)
(21, 'Combilift', '186454', 1683759600, 1686178800)
(22, 'Combilift', '186455', 1683759600, 1686178800)
(23, 'Combilift', '186473', 1683759600, 1686178800)
(24, 'Combilift', '186475', 1683759600, 1686178800)
(25, 'Combilift', '186476', 1683759600, 1686178800)
(26, 'Combilift', '186477', 1683759600, 1686178800)
(27, 'Combilift', '186478', 1683759600, 1686178800)
(28, 'Combilift', '186479', 1683759600, 1686178800)
(29, 'Combilift', '198450', 1683759600, 1686178800)
(30, 'Combilift', '198451', 1683759600, 1686178800)
(31, 'Combilift', '219222', 1683759600, 1686178800)
(32, 'Combilift', '219224', 1683759600, 1686178800)
(33, 'Combilift', '219225', 1683759600, 1686178800)
(34, 'Combilift', '219239', 1683759600, 1686178800)
(35, 'Combilift', '230072', 1683759600, 1686178800)
(36, 'Combilift', '230083', 1683759600, 1686178800)
(37, 'James Latham', '156532', 1683759600, 1686178800)
(38, 'James Latham', '212350', 1683759600, 1686178800)
(39, 'James Latham', '212351', 1683759600, 1686178800)
(40, 'James Latham', '225453', 1683759600, 1686178800)
(41, 'James Latham', '225462', 1683759600, 1686178800)
(42, 'James Latham', '225463', 1683759600, 1686178800)

In [50]:
# execute your query
mycursor.execute("SELECT * FROM telematics_tasks")
  
# fetch all the matching rows 
result = mycursor.fetchall()

print('there are ' + str(result[-1][0]) + ' machines scheduled for reports')

print('- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -')

print('|id|organisatoin|serial num| start time | end time |')

# loop through the rows
for row in result:
#     print(row)

    report_id, organisation_entry, machine_serial_entry, start_time_entry, end_time_entry = row
    print('|' + str(report_id) + '|' + organisation_entry + '|' + machine_serial_entry + '|' + str(datetime.fromtimestamp(start_time_entry)) + '|' + str(datetime.fromtimestamp(end_time_entry)))

there are 42 machines scheduled for reports
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|id|organisatoin|serial num| start time | end time |
|1|combilift|147552|2023-05-07 00:00:00|2023-06-07 00:00:00
|2|combilift|147552|2023-05-07 00:00:00|2023-06-07 00:00:00
|3|combilift|155853|1975-05-03 10:30:00|2023-06-07 00:00:00
|4|Combilift|156583|2022-12-07 00:00:00|2023-06-08 00:00:00
|5|Combilift|156583|2022-12-07 00:00:00|2023-06-08 00:00:00
|6|Combilift|147552|2022-12-07 00:00:00|2023-06-08 00:00:00
|7|Combilift|147552|2022-12-07 00:00:00|2023-06-08 00:00:00
|8|Combilift|147553|2022-12-07 00:00:00|2023-06-08 00:00:00
|9|Combilift|155839|2022-12-07 00:00:00|2023-06-08 00:00:00
|10|Combilift|155848|2022-12-07 00:00:00|2023-06-08 00:00:00
|11|Combilift|155850|2022-12-07 00:00:00|2023-06-08 00:00:00
|12|Combilift|155853|2022-12-07 00:00:00|2023-06-08 00:00:00
|13|Combilift|155854|2022-12-07 00:00:00|2023-06-08 00:00:00
|14|Combilift|156583|2022-12-07 00:00:00|2023-06-08 00:00:00
|15|Combilift|226899|2023-05-25 00:00:00|2023-06-08 00:00:00
|16|Combilift|226901|2023-05-25 00:00:00|2023-06-08 00:00:00
|17|Combilift|226908|2023-05-25 00:00:00|2023-06-08 00:00:00
|18|Combilift|153723|2023-05-11 00:00:00|2023-06-08 00:00:00
|19|Combilift|162656|2023-05-11 00:00:00|2023-06-08 00:00:00
|20|Combilift|186453|2023-05-11 00:00:00|2023-06-08 00:00:00
|21|Combilift|186454|2023-05-11 00:00:00|2023-06-08 00:00:00
|22|Combilift|186455|2023-05-11 00:00:00|2023-06-08 00:00:00
|23|Combilift|186473|2023-05-11 00:00:00|2023-06-08 00:00:00
|24|Combilift|186475|2023-05-11 00:00:00|2023-06-08 00:00:00
|25|Combilift|186476|2023-05-11 00:00:00|2023-06-08 00:00:00
|26|Combilift|186477|2023-05-11 00:00:00|2023-06-08 00:00:00
|27|Combilift|186478|2023-05-11 00:00:00|2023-06-08 00:00:00
|28|Combilift|186479|2023-05-11 00:00:00|2023-06-08 00:00:00
|29|Combilift|198450|2023-05-11 00:00:00|2023-06-08 00:00:00
|30|Combilift|198451|2023-05-11 00:00:00|2023-06-08 00:00:00
|31|Combilift|219222|2023-05-11 00:00:00|2023-06-08 00:00:00
|32|Combilift|219224|2023-05-11 00:00:00|2023-06-08 00:00:00
|33|Combilift|219225|2023-05-11 00:00:00|2023-06-08 00:00:00
|34|Combilift|219239|2023-05-11 00:00:00|2023-06-08 00:00:00
|35|Combilift|230072|2023-05-11 00:00:00|2023-06-08 00:00:00
|36|Combilift|230083|2023-05-11 00:00:00|2023-06-08 00:00:00
|37|James Latham|156532|2023-05-11 00:00:00|2023-06-08 00:00:00
|38|James Latham|212350|2023-05-11 00:00:00|2023-06-08 00:00:00
|39|James Latham|212351|2023-05-11 00:00:00|2023-06-08 00:00:00
|40|James Latham|225453|2023-05-11 00:00:00|2023-06-08 00:00:00
|41|James Latham|225462|2023-05-11 00:00:00|2023-06-08 00:00:00
|42|James Latham|225463|2023-05-11 00:00:00|2023-06-08 00:00:00