<span><img align="left" src ="https://combilift.com/wp-content/uploads/2021/09/Combilift-Web-Logo_sm.png" width="170" /></span> <br/><br/>
### Data entry tool
#### This tool is for adding tasks to the telematics project until a server is set up

### Login

In [1]:
# connect to api

%run ./DataAccess/CL_Login.ipynb

# connect to database

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Z%Br6}5+cBg9yN<y",
    database="testdatabase"
)

print(mydb)

Connected machines: 169
Login: Success ✔
<mysql.connector.connection.MySQLConnection object at 0x000001F06BDD5B50>

### Organization

In [2]:
%run ./DataAccess/CL_Get_Org.ipynb
%run ./DashboardWidgets/Widget_Org.ipynb

Select(description='Select Organisation', options=(('Meherrin River', '0ba082a0-df39-4021-b2df-be4ea9af6900'),…

### Model

In [3]:
%run ./DataAccess/CL_Get_Models.ipynb
%run ./DashboardWidgets/Widget_Model.ipynb

Select(description='Select Model', options=(('CB', '007d4401-82b6-47ab-8eb0-6552fa489764'), ('C Series', '0b08…

### Machine

In [6]:
%run ./DataAccess/CL_Get_Machine.ipynb
%run ./DashboardWidgets/Widget_Machine.ipynb

SelectMultiple(description='Select Machine', layout=Layout(height='initial'), options=(('CSS 61983', '153723')…

### Dates

In [7]:
%run ./DashboardWidgets/Widget_TimeFrame.ipynb
%run ./DashboardWidgets/timeseries_dropdown.ipynb

DatePicker(value=None, description='Start Date', step=1)

DatePicker(value=None, description='End Date', step=1)

Dropdown(description='Select time you prefer', options=('Please select', 'last 2 weeks', 'last 4 weeks', 'last…

changed to 4 weeks

In [8]:
%run ./DataProcessing/CL_TimeFrame.ipynb

In [9]:
from datetime import date
from datetime import datetime

# get variables
organisation = selected_org.label
# machine_id = selected_machine.value
analysis_start_time = datetime.combine(DT_start.value, datetime.min.time()).timestamp()
analysis_end_time = datetime.combine(DT_end.value, datetime.min.time()).timestamp()

In [10]:
#  push to database

for machine_id in selected_machine.value:
    try:
        mycursor = mydb.cursor()

        sql = "INSERT INTO telematics_tasks (organisation, machine_id, analysis_start_time, analysis_end_time) VALUES (%s, %s, %s, %s)"
        val = [
          (organisation, machine_id, int(analysis_start_time),int(analysis_end_time)),]

        mycursor.executemany(sql, val)

        mydb.commit()

        print(mycursor.rowcount, "was inserted.")
    except:
        print('error in inserting to database')

1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.
1 was inserted.

In [34]:
# execute your query
mycursor.execute("SELECT * FROM telematics_tasks")
  
# fetch all the matching rows 
result = mycursor.fetchall()

print('there are ' + str(result[-1][0]) + ' machines scheduled for reports')

print('- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -')

print('|id|organisatoin|serial num| start time | end time |')

# loop through the rows
for row in result:
#     print(row)

    report_id, organisation_entry, machine_serial_entry, start_time_entry, end_time_entry = row
    print('|' + str(report_id) + '|' + organisation_entry + '|' + machine_serial_entry + '|' + str(datetime.fromtimestamp(start_time_entry)) + '|' + str(datetime.fromtimestamp(end_time_entry)))

there are 36 machines scheduled for reports
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
|id|organisatoin|serial num| start time | end time |
|1|combilift|147552|2023-05-07 00:00:00|2023-06-07 00:00:00
|id|organisatoin|serial num| start time | end time |
|2|combilift|147552|2023-05-07 00:00:00|2023-06-07 00:00:00
|id|organisatoin|serial num| start time | end time |
|3|combilift|155853|1975-05-03 10:30:00|2023-06-07 00:00:00
|id|organisatoin|serial num| start time | end time |
|4|Combilift|156583|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|5|Combilift|156583|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|6|Combilift|147552|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|7|Combilift|147552|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|8|Combilift|147553|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|9|Combilift|155839|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|10|Combilift|155848|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|11|Combilift|155850|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|12|Combilift|155853|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|13|Combilift|155854|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|14|Combilift|156583|2022-12-07 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|15|Combilift|226899|2023-05-25 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|16|Combilift|226901|2023-05-25 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|17|Combilift|226908|2023-05-25 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|18|Combilift|153723|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|19|Combilift|162656|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|20|Combilift|186453|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|21|Combilift|186454|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|22|Combilift|186455|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|23|Combilift|186473|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|24|Combilift|186475|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|25|Combilift|186476|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|26|Combilift|186477|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|27|Combilift|186478|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|28|Combilift|186479|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|29|Combilift|198450|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|30|Combilift|198451|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|31|Combilift|219222|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|32|Combilift|219224|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|33|Combilift|219225|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|34|Combilift|219239|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|35|Combilift|230072|2023-05-11 00:00:00|2023-06-08 00:00:00
|id|organisatoin|serial num| start time | end time |
|36|Combilift|230083|2023-05-11 00:00:00|2023-06-08 00:00:00